/* 公共样式 */
.fl {
  float: left;
}

.fr {
  float: right;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?jytf0z');
  src: url('../fonts/icomoon.eot?jytf0z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jytf0z') format('truetype'),
    url('../fonts/icomoon.woff?jytf0z') format('woff'),
    url('../fonts/icomoon.svg?jytf0z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.style-red {
  color: #c81623;
}

/* 只有下边框 */
.style-border-bot {
  border-bottom: 1px solid #ededed;
}

/* 除了上边框,其他都有 */
.style-border {
  border: 1px solid#ededed;
  border-top: none;
}

/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 快捷导航栏 */
.shortcut {
  height: 31px;
  background-color: #f1f1f1;
  line-height: 31px;
  font-size: 12px;
}

.shortcut li {
  float: left;
  line-height: 31px;
}

.spacer {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 10px 12px 0;
}

.fr .icomoon {
  font-family: 'icomoon';
  font-size: 14px;
  line-height: 28px;

}

/* 页头header */
header {
  position: relative;
  height: 105px;
  /* background-color: pink; */
}

.logo {
  position: absolute;
  top: 26px;
  left: 0;
  height: 56px;
  width: 175px;
}

.logo a {
  display: block;
  height: 56px;
  width: 175px;
  font-size: 0;
  background: url(../img/logo.png) no-repeat;
}

.search {
  position: absolute;
  top: 26px;
  left: 344px;
  border: 2px solid #b1191a;
}

.text {
  height: 32px;
  width: 454px;
  padding-left: 10px;
  color: #666;
}

.btn {
  height: 32px;
  width: 80px;
  border: 0;
  background-color: #b1191a;
  color: #fff;
}

.hotwords {
  position: absolute;
  top: 68px;
  left: 344px;
}

.hotwords a {
  padding: 0 10px;
}

.shopcar {
  position: absolute;
  top: 25px;
  right: 63px;
  width: 138px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

.car {
  font-family: 'icomoon';
  color: #ba5555;
  margin-right: 5px;
}

.shopcar {
  font-family: 'icomoon';
  margin-left: 5px;
}

.count {
  position: absolute;
  top: -4px;
  left: 105px;
  height: 13px;
  line-height: 13px;
  padding: 0 5px;
  background-color: #e60012;
  color: #fff;
  border-radius: 7px 7px 7px 0;
}

/* 导航栏nav */
.nav {
  height: 45px;
  border-bottom: 2px solid #b1191a;
}

.dropdown .dt {
  height: 45px;
  width: 209px;
  line-height: 45px;
  background-color: #b1191a;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.dropdown .dd {
  width: 209px;
  height: 465px;
  background-color: #c81623;
  border-left: 1px solid #c81623;
}

.menu_item {
  float: left;
  height: 31px;
  width: 209px;
  color: #fff;
  line-height: 31px;
  padding: 0 10px;
  font-size: 14px;
}

.menu_item a {
  color: #fff;
}

.menu_item i {
  float: right;
  font-family: 'icomoon';
}

.menu_item:hover {
  background-color: #fff;
  color: #c81623;
}

.menu_item:hover a {
  color: #c81623;
}

.navitems {
  margin-left: 15px;
}

.navitems li {
  float: left;
}

.navitems li a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 24px;
  text-align: center;
}

/* footer */
.footer {
  height: 417px;
  background-color: #f5f5f5;
}

.mod_service {
  padding-top: 30px;
}

.mod_service li {
  float: left;
  width: 240px;
  height: 80px;
  border-bottom: 1px solid #ededed;
}

.mod_service_item {
  float: left;
  height: 49px;
  width: 49px;
  margin-right: 5px;
}

.mod_service_zheng {
  background: url(../img/icons.png) -253px -3px;
}

.mod_service_ji {
  background: url(../img/icons.png) -255px -54px;
}

.mod_service_wu {
  background: url(../img/icons.png) -257px -106px;
}

.mod_service_te {
  background: url(../img/icons.png) -258px -157px;
}

.mod_service_bang {
  background: url(../img/icons.png) -257px -209px;
}

.mod_service h5 {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.mod_help dl {
  float: left;
  height: 188px;
  width: 199px;
  margin-top: 20px;
  border-bottom: 1px solid #ededed;
}

.mod_help dt {
  margin-bottom: 10px;
  font-size: 16px;
}

.mod_copyright {
  width: 1200px;
  text-align: center;
  float: left;
  margin-top: 20px;
}

.mod_help_title {
  margin-left: 10px;
}

.mod_help_words {
  margin: 5px 0 0 10px;
}

/* 添加鼠标经过链接文字 文字右边移的过渡效果 */
.dropdown .dd li {
  transition: all 0.8s;
}

.dropdown .dd li:hover {
  padding-left: 18px;
}

.dropdown .dd li:hover i {
  display: none;
}